<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!-- Metadata Section -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="language" content="en-us" />
        <meta name="rating" content="General" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
    </body>
</html>
