<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!-- Metadata Section -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="language" content="en-us" />
        <meta name="rating" content="General" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="account-header">
            <div id="account-header-content">
                <div id="account-logo-container">
                    <a href="{{ url_for('public.index') }}"><h1>{% block app_name %}{% endblock %}</h1></a>
                </div>
                {% if login_redirect %}
                <div id="account-header-signin-redirect">
                    <p>Already have an account? <a id="signin-redirect" href="{{ url_for('auth.login') }}">Sign in</a></p>
                </div>
                {% else %}
                <div id="account-header-signin-redirect">
                    <p>Don't have an account? <a id="signin-redirect" href="{{ url_for('auth.register') }}">Sign up</a></p>
                </div>
                {% endif %}
            </div>
        </div>
        <div id='account-content-container'>
            <div id='account-content'>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
    </body>
</html>
